{% extends "base.html" %}

{% block content %}
  <h1>Agregar Municipio</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'lista_municipios' %}">Volver a la lista de Municipios</a>
{% endblock %}