{% extends "base.html" %}

{% block content %}
  <h1>Eliminar Municipio</h1>
  <p>¿Estás seguro de que deseas eliminar "{{ municipio.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'lista_municipios' %}">Cancelar</a>
{% endblock %}