{% extends "base.html" %}

{% block content %}
  <h1>Lista de Municipios</h1>
  <ul>
    {% for municipio in municipios %}
      <li>{{ municipio.nombre }}</li>
      <a href="{% url 'modificar_municipio' municipio.id %}">Modificar</a> |
      <a href="{% url 'eliminar_municipio' municipio.id %}">Eliminar</a>
    {% endfor %}
  </ul>
  <a href="{% url 'agregar_municipio' %}">Agregar Municipio</a>
{% endblock %}