{% extends "base.html" %}

{% block content %}
  <h1>Agregar Departamento</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'lista_departamentos' %}">Volver a la lista de Depatamentos</a>
{% endblock %}