% extends "base.html" %}

{% block content %}
  <h1>Eliminar Departamento</h1>
  <p>¿Estás seguro de que deseas eliminar "{{ departamento.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'lista_departamentos' %}">Cancelar</a>
{% endblock %}