{% extends "base.html" %}

{% block content %}
  <h1>Lista de Departamentos</h1>
  <ul>
    {% for departamento in departamentos %}
      <li>{{ departamento.nombre }}</li>
      <a href="{% url 'modificar_departamento' departamento.id %}">Modificar</a> |
      <a href="{% url 'eliminar_departamento' departamento.id %}">Eliminar</a>
    {% endfor %}
  </ul>
  <a href="{% url 'agregar_departamento' %}">Agregar Departamento</a>
{% endblock %}