{% extends "base.html" %}

{% block content %}
  <h1>Eliminar País</h1>
  <p>¿Estás seguro de que deseas eliminar "{{ pais.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'lista_paises' %}">Cancelar</a>
{% endblock %}